img {
    height: 100%;
    object-fit: cover;
}

ion-card {
    border-radius: 0;
    margin: 0;
    margin-bottom: 20px;
    box-shadow: none;
    background-color: #EFEFEF;
    height: 100%;
    max-height: fit-content;
}

p{
    font-size: 10px;
    margin: 0;
}
strong {
    color: black;
  }

ion-button{
    --padding-start: 20px;
    --padding-end: 20px;
    --padding-top: 0px;
    --padding-bottom: 0px;
    p{
        padding: 0;
        margin: 0;
    }
}

ion-card-title{
    font-size: 15px;
    text-transform: uppercase;
    color: var(--ion-color-primary);
    font-weight: 900;
}

ion-card-content{
    padding: 10px 0px 5px 20px;
}

.button-container{
    padding: 0 10px 10px 10px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.checkout{
    padding-right: 10px;
    padding-top: 5px;
    position: absolute;
    right: 0;
    display: flex;
    align-items: center;
}

.auth-options{
    display: flex;
    align-items: center;
}
ion-icon{
    font-size: 20px;
}

ion-label{
    color: var(--ion-color-primary);
    margin-right: 5px;
    font-size: 10px;
    font-weight: bold;
}
.checked-label {
    color: green; 
}

ion-checkbox{
    --checkbox-background: transparent;
    --checkbox-background-checked: #EFEFEF;
    --checkmark-color: green;
    --checkmark-width: 3px;
    --size: 20px;
    --border-width: 2px;
    --border-color: var(--ion-color-primary);
}