<ion-card>
  <ion-grid class="ion-no-padding">
    <ion-row>
      <ion-col size="4">
        <img src="https://material.angular.io/assets/img/examples/shiba1.jpg" />
      </ion-col>
      <ion-col>
        <div *ngIf="isCreator" class="checkout">
          <ion-label [class.checked-label]="isCheckedOut">{{isCheckedOut ? 'Afsluttet' : 'Aktiv'}}</ion-label>
          <ion-checkbox (ngModel)="isCheckedOut" (ionChange)="toggleCheckout($event)"></ion-checkbox>
        </div>
        <ion-card-content [ngStyle]="{ 'padding-top': !isCreator ? '20px' : '0px' }" class="ion-no-padding">
          <ion-card-title> {{item.title}} </ion-card-title>
          <p><strong>{{foundOrLost ? 'Fundet af' : 'Mistet af'}}</strong> {{item.name}}</p>
          <p><strong>Lokation:</strong> {{item.location}} </p>
          <p><strong>Dato og tid:</strong> {{item.dateTime | date:'dd-MM-yy - HH:mm'}} </p>
          <p><strong>Beskrivelse:</strong></p>
          <p>
            {{item.description}}
          </p>
        </ion-card-content>
        <div class="button-container">
          <ion-button (click)="gotoChat(item.userUid!)" *ngIf="!isCreator" color="secondary" size="small"
            ><p>Kontakt</p>
          </ion-button>
          <div class="auth-options" *ngIf="isCreator">
            <ion-icon color="primary" name="trash"></ion-icon>
            <ion-button color="secondary" size="small" (click)="editCard()"
              ><p>Rediger</p>
            </ion-button>
          </div>
      </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-card>
