.content {
    font-size: 13px;
    --color: #333333;
}

.label {
    font-size: 13px;
    --color: #333333;
}

.contactsection {
    background-color: #EFEFEF;
    display: flex;
    justify-content: center;
}

h3 {
    color: #283f5d;
    font-size: 14px;
}

a {
    
    font-size: 14px;
    font-weight: bold;
    color: #696153;
}

@media (min-width: 768px) {
   img {
    padding-block-start: 15px;
    padding-inline-start: 15px;
   }

   a {
    font-size: 16px;
    
   }

   .content {
    font-size: 14px;
    --color: #333333;
    }

    .label {
    font-size: 14px;
    --color: #333333;
    }

    .contactsection {
    background-color: #EFEFEF;
    display: flex;
    justify-content: center;
    }
  }