h1{
    color: var(--ion-color-primary);
    font-size: 24px;
    font-weight: bold;
    margin: 0;
    margin-top: 10px;
}
h2{
    color: var(--ion-color-secondary);
    font-size: 14px;
    font-weight: 700;
    margin: 0;
}
p{
    font-size: 13px;
}