<ion-tabs>
  <ion-tab-bar slot="bottom" color="primary" id="app-tab-bar">
    <ion-tab-button tab="tab1" href="/tabs/tab1">
      <button>
        <ion-icon color="primary" name="home"></ion-icon>
      </button>
      <ion-label>Hjem</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab2" href="/tabs/tab2">
      <button>
        <ion-icon color="primary" name="help"></ion-icon>
      </button>
      <ion-label>Om</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="messages">
    </ion-tab-button>

    <ion-tab-button tab="create" href="/tabs/create">
      <button>
        <ion-icon color="primary" name="add-outline"></ion-icon>
      </button>
      <ion-label>Tilføj</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="{{isLoggedIn ? 'profile' : 'login'}}" (click)="navigateToProfileOrLogin()">
      <button>
        <ion-icon color="primary" name="{{isLoggedIn ? 'person' : 'log-in'}}"></ion-icon>
      </button>
      <ion-label>{{isLoggedIn ? 'Profil' : 'Log in'}}</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
<ion-fab id="chat-fab" vertical="bottom" horizontal="center" slot="fixed" class="test" (click)="navigateToMessages()">
  <ion-fab-button class="fab-button" color="tertiary">
    <ion-icon class="fab" name="chatbubbles"></ion-icon>
  </ion-fab-button>
</ion-fab>
