<ion-header>
  <ion-toolbar>
    <ion-title> <h1>Hov!</h1></ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="dismissModal()">Luk</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
<ion-grid>
  <ion-row>
    <ion-col size="12" class="ion-text-center">
      <p>At benytte denne funktion kræver at du er logget ind.<br><br> Log venligst ind, eller opret en brugerprofil ved at klikke
        på nedenstående knap! 
      </p>
    </ion-col>
  </ion-row>
</ion-grid>

  <ion-button color="secondary" expand="full" (click)="navigateToLogin()">Gå til registrering/log ind</ion-button>
</ion-content>