<ion-content>

    <app-header-page-section title="Tilføj et opslag"></app-header-page-section>
    <div class="switch-container">
  <app-segment-control (segmentChange)="handleSegmentChange($event)"></app-segment-control>
</div>
  <form [formGroup]="createForm" (submit)="onSubmit()">
    <div *ngFor="let field of inputFields">
      <ion-item class="ion-no-padding">
        <ion-input
          [label]="field.label"
          labelPlacement="floating"
          aria-label="field input"
          *ngIf="field.type === 'text' || field.type === 'number'"
          [type]="field.type"
          [formControlName]="field.controlName"
          [placeholder]="field.placeholder"
        ></ion-input>
        <ion-textarea
          [label]="field.label"
          labelPlacement="floating"
          aria-label="field.label"
          *ngIf="field.type === 'textarea'"
          [formControlName]="field.controlName"
          [placeholder]="field.placeholder"
        ></ion-textarea>
        <div *ngIf="field.type === 'dateTime'">
          <ion-text>
            Dato og tid
          </ion-text>
          <ion-datetime-button datetime="datetime"></ion-datetime-button>
        </div>
      </ion-item>
    </div>

    <ion-modal [keepContentsMounted]="true">
      <ng-template>
        <ion-datetime id="datetime" (ionChange)="dateChanged($event)"></ion-datetime>
      </ng-template>
    </ion-modal>
      <div class="container" (click)="triggerFileInput()">
        <input type="file" id="myFileInput" (change)="onFileSelected($event)" accept="image/*" hidden />
        <div *ngIf="imagePreview" class="image-preview">
          <img [src]="imagePreview" />
        </div>
        <div *ngIf="!imagePreview">
          <div class="image-container">
            <ion-icon name="images"></ion-icon>
          </div>
          <div class="image-container">
            <p>Tilføj billede her(valgfrit)</p>
          </div>
        </div>
      </div>


    <ion-button type="submit" size="small" color="secondary">Tilføj</ion-button>
  </form>
</ion-content>
