/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import "@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";

h1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    color: #283f5d;
    font-size: 1.5rem;
}
h2, h3 {
    font-family: 'Verdana', sans-serif;
    font-weight: bold;
    color: #A88D5B;
    font-size: 1.1em;
}

.textleft {
    text-align: left !important;
}

ion-button{
    font-family: 'Montserrat', sans-serif;
}

ion-input {
    --ion-font-family: 'Montserrat', sans-serif;
}
ion-searchbar {
    --ion-font-family: 'Montserrat', sans-serif;
}

ion-label{
    font-family: 'Verdana', sans-serif;
}

p {
    font-family: 'Montserrat', sans-serif;
    font-size: 13px;
}

ion-content{
    --padding-top: 5px;
    --padding-start: 15px;
    --padding-end: 15px;
    --background-color: #f7f7f7;
}


@media (min-width: 768px) {
    p {
        font-size: 14px;
    }



}
