ion-button{
    --padding-bottom: 10px;
    --padding-top: 10px;
    margin-bottom: 20px;
}

.form-group{
    margin-bottom: 30px;
}

.checkbox{
    display: flex;
    margin-bottom: 10px;
    ion-label {
        margin-left: 10px;
    }
}

ion-checkbox {
    --border-radius: 5px;
}
