<ion-content>
    <ion-item lines="none" class="ion-no-padding">
        <ion-avatar slot="start">
          <img src="https://ionicframework.com/docs/img/demos/avatar.svg">
        </ion-avatar>
        <ion-label>
          <h2>{{ senderName }}</h2>
        </ion-label>
      </ion-item>
          <div *ngIf="isLoading; else chatMessages" class="skeleton-container">
        <div *ngFor="let i of [0,1,2,3,4]; let isOdd = odd" class="skeleton-message" [ngClass]="{'left': !isOdd, 'right': isOdd}">
          <ion-skeleton-text animated style="width: 100%;"></ion-skeleton-text>
          <ion-skeleton-text animated style="width: 80%;"></ion-skeleton-text>
        </div>
      </div>
      <ng-template #chatMessages>
      <div class="chat-container">
        <div *ngFor="let message of messages">
          <div *ngIf="!isMyMessage(message)" class="sender-name">
            {{ message.senderName }}
          </div>
          <div
            [ngClass]="{
              'message-bubble': true,
              mine: isMyMessage(message),
              theirs: !isMyMessage(message)
            }"
          >
            <div class="message">
                <div class="message-time">{{ message.time | date:'HH:mm' }}</div>
              <div class="message-text">{{ message.text }}</div>
            </div>
          </div>
        </div>
      </div>
      </ng-template>
    </ion-content>
    <ion-footer>
      <ion-item lines="none">
        <ion-input
          type="text"
          placeholder="Skriv en besked..."
          [(ngModel)]="messageContent"
        ></ion-input>
        <ion-buttons slot="end">
          <ion-button (click)="sendMessage()">
            <ion-icon slot="icon-only" name="send"></ion-icon>
          </ion-button>
        </ion-buttons>
      </ion-item>
    </ion-footer>